.navContainer {
  position: fixed;
  padding: 10px;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 1;
  border-bottom: 1px solid #dad3d3;
}

.nav {
  background-color: white;
  height: 40px;
  position: relative;
  overflow: hidden;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 7px;
  transition: all 0.2s;
}

.listRoute {
  overflow: hidden;
  margin-right: 2em;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  float: right;
}

.listRoute li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2em;
  position: relative;
  line-height: 50px;
  transition: top 0.3s ease;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.name {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 0.2em;
}

.headerlink {
  color: rgba(95, 108, 122, 0.5);
}

.headerlink:hover {
  color: #0070D3;
  text-decoration: none;
  cursor:pointer;
}

.subLogo {
  width: 100px;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.mainMenu {
  position: relative;
  transition: transform 0.2s ease-in-out;
}
