.container {
  width: 980px;
  margin: 0 auto;
}

.inputSentence {
  background-color: gray;
}

.addEntityCrew {
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 100%;
  display: inline-flex;
}

.addEntity {
  margin-right: 10px;
}

.addEntitySign {
  margin: auto;
  margin-right: 10px;
  margin-left: 10px;
}

.addEntityInput {
  border: none;
  width: 300px;
  margin-left: 0;
}

.addEntityInput:focus {
  border: none;
  background: transparent;
}

.hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.entityName {
  border-radius: .25em;
  padding: 3px 5px;
  font-weight: 600;
  line-height: 1;
  vertical-align: baseline;
  width: auto;
  color: #333;
  margin-bottom: 10px;
}

.entityName:hover {
  box-shadow: 0 0 1px 1px #4183c4;
  cursor: pointer;
  transition: box-shadow .2s ease-out;
}